.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
  }
  
  .navbar--visible {
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .navbar__item {
    margin: 0 20px;
  }
  
  .navbar__item a {
    display: block;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar__item {
    margin: 0 20px;
    position: relative;
  }
  
  .navbar__item a {
    display: block;
    color: #f6f7c4;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid transparent;
  }
  
  .navbar__item a:hover {
    color: #4ce4f8;
    background-color: rgba(0, 119, 255, 0.1);
    border-color: rgba(208, 0, 255, 0.5); /* rgba(0, 119, 255, 0.5); */
    box-shadow: 0px 5px 15px rgba(255, 0, 136, 0.3); /* rgba(0, 119, 255, 0.3); */
  }
  
  .navbar__item a::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -5px;
    right: -5px;
    bottom: -5px;
    border-radius: 30px;
    opacity: 0;
    transition: all 0.3s ease-in-out;
  }
  
  .navbar__item a:hover::before {
    opacity: 1;
    border: 2px solid rgba(0, 119, 255, 0.5);
    box-shadow: 0px 5px 15px rgba(0, 119, 255, 0.3);
  }
  
  #nav-link-glow {
    box-shadow: 0 0 15px #fff;
    border-radius: 40px;
  }
  
  #nav-link-glow {
    box-shadow: 0 0 40px rgba(230, 225, 173, 0.643);
  }
  